<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chartPieModel">
            <h2><span jhiTranslate="jhipsterApp.chartPieModel.detail.title">Chart Pie Model</span> {{ chartPieModel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.chartPieModel.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ chartPieModel.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.chartPieModel.lable">Lable</span></dt>
                <dd>
                    <span>{{ chartPieModel.lable }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chart-pie-model', chartPieModel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
